[Unit]
Description=SB-{{ app-name }}
After=local-fs.target remote-fs.target network-online.target nss-lookup.target
Wants=network-online.target

[Service]
User=root
EnvironmentFile={{ SB-env-path }}
WorkingDirectory={{ SB-working-dir }}
ExecStart=/usr/bin/java $XMX -jar $PORT {{ SB-jar-file }}
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
